---

layout: post
language: en
image_base: 2015-07-20-sunny_collection
category: pysanka
tags:
  - pysanka
  - natural colors
title: Sunshine collection of the Olha Kosach, with dyes from Japanese natural sources
author: Natalya Kovalova

---

Sometimes ago during the lesson, one of the students looking at the
pysankas' examples, sadly noted almost total absence of the samples from
the Eastern and Southern Ukraine. She was indeed from the Eastern
Ukraine and was under impression, than pysanka art is not native for her
Little Motherland. That time task to be done in class was to draw and
paint pysanka closest to the designs of the homeland. I was also
interested by this fact and started to look for the examples of modern
time pysanka artists, who try to reproduce traditional motives. I was
excited to find literature on the subject and get introduced with
wonderful people. One of them
[Iryna Mikhailevich](https://www.facebook.com/daniradio) (who was born in
Kirovohrad) --- she not only finds and describes half-forgotten collections, but
also popularizes coloring pysanka's in natural dyes. I was impressed by
Nature's colors on her pysanka's: live, deep, so touching!


My personal experience with natural dyes was limited so far to boiled
onion peels. In most cases I used chemically produced dyes, combining
them to get desired hue, which is also interesting and gives good results.


I adventured into this. Why adventured? Because I understood, that this
would require much attention and time, and free time is scarce.

Since Japanese flora differs form the Ukrainian one, at first I've used
what was at hand - broth from dried herbs of Everlasting brought
before from Ukraine, I used also onion peels. I have prepared broth
consisting of 250ml of water and 4 table spoons of the dried
herbs (could be a bit less, since Japanese table spoons are more like
Ukrainian dessert ones). I've boiled mix on slow fire for about 15
minutes, let it to cool down a bit, filtered and added alum.


I liked very much pysanka's dyed in the Elderberry's berries. I've
ordered plant for the garden from the Internet, but before it grows and
gives harvest, used broth of dried berries, which I brought from
Ukraine. Recipe for the broth is the same as in the case with herbs,
but before the boiling I soaked them in water for several hours.

Result of the experiments was beautiful, even though that Elderberry
given brown color instead of deep-blue given by the description (now I'm
in doubt whether that was actually Elderberry).

I need more experimenst.


<%= photo_card(%w{image01.jpg image02.jpg}, "On the photo:
'mustard'-brown color - Everlasting, light brown - onion peels,
dark-brown - dried berries of an 'elderberry'. Everything was dyed for
several hours. Nice look to the eye and herbs fragrance is not weathered
out from the house yet for several month.  ") %>


This result has encoured me for the next step --- to learn natural
materials used by the Japanese from the old times for dying
fabrics. After taking part in the master class and after asking around
some of the modern times masters, I've learned that novadays probably
the only natural coloring agent still in use for coloring closes into
deep-blue color is the sap of the plants of the buckwheat family
(lat. *Polygonaceae*). Japanese name for the plant is "Ai"
(лат. *Persicaria tinctoria*, ukr. *Гірчак фарбувальний*) --- in English
known as "Japanese indigo". Dying with this plant is known as Aidzome in
Japanese (藍染め, "zome" or "some" --- from "someru" in Japanese for
"coloring", "dying"). Most of the industrial coloring shops for dying of
kimonos or obis (kimono belt) switched to synthetic dyes, since this is
less costly.


Obviously in dedicated shops amateurs are able to purchase all necessary
materials and natural dyes from all over the world. It's not cheep, but
maybe worth trying, however, sincerely, working with live plants is more
attractive.

What I have undersood, from working with natural materials? And what is
the difference in the working of natural dyes and synthetic ones?

- Fisrt examples of pysanka have had expected colors, and time for the
  dying is short. However, processing time is slightly longer, than with
  the chemical dyes.

- Next colors can be unexpected. For example, I had obtained various
  hues of dark-brown color instead of black, as for example background
  on pysankas #17 and #18 in a Solar collection. At the same time, time
  of the processing did not matter mostly.

- Intensity and saturation in some cases can be improved, by the time of
  processing. Synthetic dyes can be improved by adding some vinegar,
  colors become brigther.

- Of course, the best results were obtained by using fresh broths, but
  some plants were "polite": understanding the amount of the ingredients
  are scarce, were working even after long storage in a freezer. As, for
  example, dye from the berries of Osmanthus heterophyllus berries
  (lat. *Osmanthus heterophyllus*). This could as well depend on the
  plant used.

<%= photo_card %w{image04.jpg}, "As a medium for my experiments I've
choosen Sunshine pysanka collection by Olha Kosach, which is presented
by <a href='http://danirra.dreamwidth.org/287256.html'> Iryna Mikhalyevich</a>." %>



<%= photo_card %w{image09.jpg}, "Here is the result.

Some of the colors are different from the collection description,
because numbers of pysanka's was over the limits for the broth
capabilities :->, as I mentioned earlier.  " %>

---

<%= photo_card %w{image03.jpg image05.jpg image07.jpg }, "Yellow color
with a lemon tint produced by the broth of the meadow daisy with the
addition of an aluminum alum.

If, instead of aliminium alum, iron alum added to the mix, then eggs are
dyed into dark-brown color (as in the background of the pysanka #7 and
#10 in the Sunshine Collection).

I have used fresh flowers.

" %>

---

<%= photo_card %w{image12.jpg image15.jpg}, "Warm bright yellow color is
produced by safflower （lat. Carthamus tinctorius, jap. 紅花) without
dressers, if prepared in alkaline water (рН 8-9) by the
infusion. Pellets of the dried flowers were used." %>

---

<%= photo_card %w{image00.png image02.jpg image17.jpg image10.jpg},

"Caesalpinioideae (lat.<i>Caesalpinia sappan L</i>, jap. スオウ（蘇芳、蘇方、蘇
枋)  with the addition of a alminium alum produces from light-pink to
warm red to dark red colors. Tint depends on processing time, as well
as freshness of a broth, and on the previous color.

By adding to the Caesalpinioideae broth iron alum, instead of aluminium
one, we get warm brown color, similar to the colors on the pysanka #14
and #21 of the Sunshine collection.

Broth is prepared from the small chips of the plant." %>

---

<%= photo_card %w{ image16.jpg image14.jpg image13.jpg},
"

Dried insects of Polish cochineal, that can be purchased at the
handiwork shop.


Cocheineal (Polish cochineal) (lat. <i>Dactylopius coccus</i>, jap.コチ
ニールカイガラムシ) - is an insect which is used to produce coloring
agent carmine. With addition of an aluminium alum it produces
red-crimson color on pysanka's.

I've obtained black color on pysanka's when added iron alum into the
broth of a cochineal. But only the first few eggs were dyed into the
black hue, next ones - dark brown hue, with a bronze tint.


"
%>

---

<%= photo_card %w{ image11.jpg image06.jpg},

"Fresh flowers of mallow (hollihock). I've obtained green color of
different tints from the broth of fresh deep-pink colored mallow flowers
with addition of aluminium alum."  %>


<!--  LocalWords:  Iryna Mikhailevich Kirovohrad pysanka's Elderberry
 -->
