---
layout: post
language: uk
image_base: 2015-07-20-sunny_collection
category: pysanka
tags:
  - pysanka
  - natural colors
title: Сонячна колекція Ольги Косач розписана природними фарбниками Японії
author: Наталя Ковальова

---

Якось на одному з уроків одна учениця, розглядаючи принесені мною зразки писанок, із
сумом зауважила, що майже немає зразків із Східної і Південної України. Вона зробила
висновок, що це мистецтво не з її малої Батьківщини. А вона саме родом із східної
України. Завдання в класі було намалювати орнамент, що найближчий до реґіону, де
проживали йхні предки. Мене теж це зацікавило. Почала шукати матеріали та роботи
сучасних писанкарів, які відтворюють традиційні мотиви. На щастя знайшлася і
література і вдалося познайомитись з цікавими людьми. І одна із них ­ [Ірина Михайлєвіч](https://www.facebook.com/daniradio), уроженка Кіровограду, яка не тільки знаходить та
описує напівзабуті колекції. Писанкарка популяризує спосіб фарбування писанки
природними фарбниками. Дуже зачепили мене кольори природи у її писанках. Живі,
глибокі, такі привабливі!


Мій досвід використання природних фарбників донині обмежувався відваром цибуляного
лушпиння. Тож користувалась хімічними фарбами, комбінуючи їх, що не менш цікаво і
роботи гарні виходять.

Відважилась спробувати. Чому відважилась? Бо розуміла, що це потребує багато уваги і
часу, якого обмаль.

Оскільки рослинний світ Японії  трохи відрізняється від українського, то для початку
використала я перше, що було під рукою ­ відвар із сухих трав безсмертника, привезеного
з України, а також цибулиння.  Приготувала відвар з розрахунку 250 мл води і ложки 4
сухих трав (думаю, можна і менше, залежить від розміру ложки. Бо японські столові, то як
українські десертні). Прокип’ятила на маленькому вогні хвилин 15, трохи остудила,
процідила і добавила галун.

Дуже сподобались писанки, фарбовані в ягодах бузини. Рослину для саду замовила з
інтернету, а поки вона виросте і дасть плоди ­ скористалася відваром сухих ягід,
присланих з України. Рецепт той же що і з травами, тільки попередньо замочувала ягоди
на кілька годин.

Результат моїх експериментів виявився чудовим, не дивлячись на те що бузина дала не
темно­синій, як описувалось, а коричневий (зараз я сумніваюсь вже що то була бузина).

Треба ще раз поекспериментувати.

<%= photo_card %w{image01.jpg image02.jpg}, "Отже на фото: гірчичний колір - безсмертник, світло-коричневий -лушпиння цибулі, темно-коричневий - сушені ягоди “бузини”. Все фарбувалось по кілька годин. Приємно оку і запах трав тримається вже кілька місяців." %>

Результат  надихнув мене на наступний крок ­ вивчення природнього матеріалу, що
використовували здавна японці для фарбування тканин. Відвідавши майстер класи і
поспілкувавшись з сучасними майстрами, мандруючи по Японії, дізналась, що зараз чи не
єдиний природній фарбник, що широко використовується у  фарбуванні в традиційний
синій колір ­ це сік рослини родини Гречкових (лат. *Polygonaceae*) Японська назва
рослини Аі (лат. *Persicaria tinctoria*,  укр. *Гірчак фарбувальний*). Фарбування цією
рослиною відоме як Аідзоме 藍染め("сомеру" японською означає фарбувати).  А всі інші
промислові і приватні майстерні ручного фарбування тканин для кімоно та обі (пояси до
кімоно) перейшли на синтетичні фарбники, оскільки це менш затратно.

Звичайно, в спеціальних магазанах любителі можуть придбати всі необхідні матеріали і
природні фарбники майже з усього світу. Це коштує немалих грошей, але спробувати
варто, хоча, чесно кажучи, з живими рослинами працювати цікавіше.


Що я зрозуміла, використовуючи природний матеріал?  І чим, з мого досвіду,
відрізняються в роботі природні фарбники від синтетичних?

- Перші писанки відповідають кольорам, які очікуєш. І часу на фарбування йде мало.
Трошки більше, ніж коли фарбуєш синтетичними.

- Наступні кольори можуть бути непередбачувані. Так в мене отримався замість
чорного ­ різні відтінки темно­коричневого кольору, як тло на писанках No17 і 18 з
Сонячної колекції. І тривалість фарбування вже не відігравала ніякої ролі.

- Інтенсивність і яскравість фарбування в деяких випадках можна покращити, лише
тривалістю перебуванн в фарбнику. В синтетичні ж фарбники можна добавити
трохи оцту і фарба кладеться яскравіше.

- Найкраще писанки фарбувалися, звичайно, свіжими  відварами, але деякі рослини
були чемними і, розуміючи, що вони в дефіциті, робили свою роботу і після
довготривалого зберігання в морозильнику і розморозки. Як, наприклад, фарбник з
ягід Османуса різнолистного (лат.*Osmanthus heterophyllus*). Можливо, залежить від
рослини.

<%= photo_card %w{image04.jpg}, "Матеріалом для своїх експериментів я вибрала
Сонячну колекцію писанок Ольги Косач, яка описана <a href='http://danirra.dreamwidth.org/287256.html'> Іриною Міхалєвіч</a>." %>


<%= photo_card %w{image09.jpg}, "Ось що в мене вийшло" %>

Деякі кольори не співпадають з описами колекції, оскільки кількість писанок перевищувала можливості одного розчину :-), про що я згадувала вище.

---

<%= photo_card %w{image03.jpg image05.jpg image07.jpg },
"Жовтий колір з лимонним відтінком дає відвар лугової ромашки з додаванням алюмінієвого галуна.

Якщо додати до відвару ромашки замість алюмінієвого залізний галун, то писанки фарбуються в темно-коричневий колір (Тло писанки №7 і 10 із Сонячної колекції).

Використовувала свіжі квіти." %>

---

<%= photo_card %w{image12.jpg image15.jpg}, "Теплий яскравий жовтий колір дає сафлор красильний（Лат. Carthamus tinctorius, яп. 紅花)без протравлювача, приготований на лужній воді (рН 8-9)методом настоювання. Використовуються пелюстки сухих квітів
" %>

---

<%= photo_card %w{image00.png image02.jpg image17.jpg image10.jpg},

"Цезальпінія (лат.Caesalpinia sappan L, яп. スオウ（蘇芳、蘇方、蘇枋) з додаванням алюмінієвого галуна дає від світло-рожевого, теплого червоного і до темно-червоного. Відтінок залежить і від часу фарбування, і від свіжості розчину, і від попереднього кольору фарби.

Додаюючи у відвар цезальпінії замість алюмінієвого залізний галун, отримуємо коричневий колір теплого відтінку, як на писанках №14 і 21 з Сонячної колекції.

Відвар готується з дрібної стружки деревини цієї рослини." %>

---

<%= photo_card %w{ image16.jpg image14.jpg image13.jpg},
"

Висушені комахи червецю, які можна придбати в магазині для рукоділля.

Кошеніль  (чи Червець, лат.Dactylopius coccus, яп.コチニールカイガラムシ) -комаха з якої виготовляють фарбник кармін. При додаванні алюмінієвого галуна дав на писанках червоно-малиновий колір.

Отримала чорний колір писанок, коли у відвар кошенілі добавила залізний галун. Але в чорний фарбувались тільки перші писанки всі наступні - в темно коричневий колір з бронзовим відтінком.

"
%>

---

<%= photo_card %w{ image11.jpg image06.jpg},

"Свіжі квіти мальви. Зелений колір різних відтінків отримала з відвару свіжих квітів мальви темно-рожевого кольору додаючи алюмінієвий галун." %>
